.quest-completed {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}

.quest-completed__inner {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    max-width: 480px;
    padding: 0 16px;
}

.quest-completed__card {
    margin: 0 auto;
    width: 280px;
    /*height: 320px;*/
    border-radius: 40px;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 30px;
}

.quest-completed__trophy {
    width: 140px;
    height: 140px;
    margin-bottom: 32px;
}

.quest-completed__title {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 14px;
    vertical-align: middle;
    text-align: left;
    margin-top: 20px
}

.quest-completed__subtitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 14px;
    vertical-align: middle;
    max-width: 420px;
    margin: 16px auto;
    font-size: 18px;
    color: black;
    opacity: 0.5;
    text-align: left;
}

.quest-completed__button {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    max-width: 100%;
    padding: 18px 24px;
    border-radius: 12px;
    border: none;
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.quest-completed__img {
    width: 220px;
}