.quest {
    display: flex;
    justify-content: center;
    padding: 40px 16px;
    min-height: 100vh;
    box-sizing: border-box;
}

.quest__inner {
    width: 100%;
    max-width: 900px;
    padding: 40px 138px 56px;
    box-sizing: border-box;
}

.quest__title {
    font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 24px;
}

.quest__section {
    margin-bottom: 32px;
}

.quest__section-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 12px;
    font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}

.quest__text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    letter-spacing: 0.2px;
    text-align: left;
}

.quest__map-wrapper {
    width: 100%;
    max-width: 420px;
}

.quest__map-placeholder {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    background: #e4e4e4;
}

.quest__button-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.quest__start-button {
    padding: 10px 12px;
    border: none;
    background-color: #000;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    letter-spacing: 0.2px;
}

.quest__start-button:hover {
    opacity: 0.9;
}


.quest__image-block {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest__image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest__image-bar {
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.quest__image-placeholder {
    width: 100%;
    max-width: 460px;
    height: 150px;
    border-radius: 16px;
    background: #d9d9d9;
}

.quest__image-caption {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #b0b0b0;
    text-align: left;
    width: 460px;
}

.quest__image-caption__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



