.registr_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../assets/background.jpg");
    background-size: cover;

}

.registr_title {
    width: 300px;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-align: center;
}

.registr_btn {
    width: 300px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ffffff;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 28px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
