html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
}

.form_input_email {
    /*width: 100%;*/
    width: 300px;
    border-radius: 12px;
    border: 1px solid #000000;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #ffffff;
    margin-bottom: 12px;
    text-align: center;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_input_email ::placeholder {
    text-align: center;
    color: #888888;
    font-size: 16px;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_input_email:not(:placeholder-shown) {
    text-align: left;
}

.form_input_password {
    width: 300px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #000000;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_input_password ::placeholder {
    text-align: center;
    color: #888888;
    font-size: 16px;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_input_password:not(:placeholder-shown) {
    text-align: left;
}

.form_enter_button {
    width: 300px;
    border-radius: 12px;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #000000;
    margin-top: 48px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    border: 2px solid #000000;
}

.password-wrapper {
    position: relative;
    width: 100%;
}


.password_eye_btn {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password_eye_btn img {
    width: 20px;
    height: 20px;
}

.form_footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form_footer_text,
.form_footer_link {
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
}

.form_footer_link {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.form_error {
    width: 100%;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: red;
    text-decoration: none;
    text-align: center;
    margin-top: 12px;
}

.form_input_password_error::placeholder {
    text-align: center;
    color: red;
    font-size: 15px;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_input_password_error {
    width: 300px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid red;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.2px;
}

.form_enter_button_error {
    width: 300px;
    border-radius: 12px;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    border: 2px solid #000000;
    margin-top: 24px;
}

