.start_wrapper {
    background-color: #185C8C;
    background-image: url("../../../src/assets/start_bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen {
    position: relative;
}

.start_button {
    position: absolute;
    width: 280px;
    height: 100px;
    background-color: white;
    border: none;
    color: rgba(0,0,0,0.5);
    border-radius: 12px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    left: 200px;
    top: 200px;
    cursor: pointer;
}