.form_footer_link_player {
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.form_enter_button_player {
    width: 300px;
    border-radius: 12px;
    padding: 16px 22px;
    box-sizing: border-box;
    background: #000000;
    margin-top: 48px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    border: 2px solid #000000;
}

.error_password_player {
    width: 100%;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: red;
    text-decoration: none;
    text-align: center;
    margin-top: 12px;
}