.error_password_organizer {
    width: 100%;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
    color: red;
    text-decoration: none;
    text-align: center;
    margin-top: 12px;
}
